body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 54px;
    line-height: 1.2;
}

h2 {
    font-size: 36px;
    line-height: 1.38;
}

h3 {
    font-size: 24px;
    line-height: 1.25;
}

h4 {
    font-size: 22px;
    line-height: 1;
}

h5{
    font-size: 18px;
    line-height: 1;
}

h6{
    font-size: 16px;
    line-height: 1.7;
}


p {
    font-size: 18px;
    line-height: 1.8;
}

a {
    text-decoration: none;
    line-height: 1;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.btn {
    display: inline-flex;
    font-size: 16px;
    justify-content: center;
    min-width: 140px;
    padding: 17px 33px;
}



.container {

    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}


/* Alignment helper */

.txt-center { text-align: center; }


/* Helpers */

.mb-300 { margin-bottom: 300px; }
.mb-100 { margin-bottom: 100px; }
.mb-80 { margin-bottom: 80px; }
.mb-50 { margin-bottom: 50px !important; }
.mb-40 { margin-bottom: 40px; }
.mb-30 { margin-bottom: 30px; }
.mb-20 { margin-bottom: 20px; }
.mb-10 { margin-bottom: 10px; }

.mr-60 { margin-right: 60px !important; }

.mt-30 { margin-top: 30px; }
.mt-100 { margin-top: 100px; }

.font-100 { font-size: 100px; line-height: 0.5; }

.font-14 { font-size: 14px; line-height: 0.5; }

.font-13 { font-size: 13px; line-height: 0.5; }

.font-weight-helper { font-weight: 100; }

.width-helper { 
    max-width: 770px;
    margin: 0 auto; 
    font-weight: 100;
}

.align-helper { align-items: center; }

.padding-bot-help { padding-bottom: 80px; }

.padding-none { padding: 0px !important; }

/* Shadows */

.box-shadow-light{ box-shadow: 0 22px 24px rgba(17, 83, 165, 0.25); }



/* Sections */

.section-md{ padding-top: 120px; }

/* Colors */

.txt-white       { color: #fff; }
.txt-light-grey  { color: #818181; }
.txt-paragraph { color: #546e7a; }
.txt-dark-grey   { color: #1b1b1b; }

.bg-green        { background-color: #07b569; }
.bg-gradient     { background-image: linear-gradient(90deg, #005083, #22b977); min-height: 550px; }
.bg-image { 
    background: url("../images/footer-image.jpg") center center no-repeat;
    background-size: cover;
    min-height: 460px;
 }


.header {
    background: url("../images/hero.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 680px;
    justify-content: center;
}

.navigation-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1170px;
    width: 100%;
    padding: 50px 0;
}

.navigation-item {
    display: inline-block;
    margin: 0 15px;
    font-weight: bold;
}

.header-content-wrapper {
    max-width: 968px;
    margin: auto;
}

.card-md {
    padding: 70px;
    border-radius: 20px;
    position: relative;
}

.card-icon::before{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -200px;
}


.counter { max-width: 320px; }

.content {
  display: flex;
  justify-content: flex-start;
}



.figcaption {
   background-image: linear-gradient(45deg, #025583, #1ca579) !important;
}

/* Mobile menu */

.menu-toggle {
    display: none;
    position: relative;
    z-index: 9999;
    cursor: pointer;
    background-color: transparent;
    width: 30px;
    height: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menu-toggle span {
    display: block;
    position: absolute;
    right: 0;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(45deg, #025583, #1ca579);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

.menu-toggle span:nth-child(1){ top: 1px; }
.menu-toggle span:nth-child(2){ top: 9px; }
.menu-toggle span:nth-child(3){ top: 17px; }

.menu-toggle.activated span:nth-child(1){
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px;
}

.menu-toggle.activated span:nth-child(2){
    opacity: 0;
    right: -10px;
}

.menu-toggle.activated span:nth-child(3){
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
}

.menu-toggle.activated span {
    background: #fff;
}



/* SLIDER */


.item { 
    padding: 30px; 
    text-align: center;
}

.card-lg {  }

.card-lg-content {  }

 .owl-nav button {
    position: absolute;
    top: 27%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 45px;
}


.owl-carousel .owl-item img {
    display: block;
    width: 40% !important;
    margin: 0 auto !important;
}

.owl-nav .owl-prev { left: -45px; }

.owl-nav .owl-next { right: -45px; }

.owl-stage { padding-bottom: 20px; }

.owl-carousel button.owl-dot {


} 

#sync1 .item{
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
#sync2 .item{
    margin-bottom: 70px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
#sync2 .item h1{
  font-size: 18px;
}

.owl-item active synced {
    width: 600px !important;
}

@media screen and (max-width: 1270px){
    .owl-nav button {
        position: initial;
        margin: 20px;
        margin-top: -20px;
    }

    .owl-nav { text-align: center; }

    .navigation-wrapper {

    padding: 50px 50px;
}
}

@media screen and (max-width: 992px){
    .menu-toggle { display: block; }

    .navigation-wrap {
        left: -100%;
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100%;
        -webkit-transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
        -o-transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
        transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
    }

    .owl-carousel .owl-item img {
        display: block;
        width: 10% !important;
        margin: 0 auto !important;
}

    .navigation-wrap .main-navigation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: #1a56a3;
    }

    .navigation-displayed {
        position: fixed;
        left: 0;
        display: block;
        overflow: hidden;
    }

    .navigation-item { margin: 30px; }

    .section-md-column{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header {
        min-height: inherit;
        padding-top: 190px;
        padding-bottom: 150px;
    }

    h1 {
    font-size: 44px;
    line-height: 1.2;
}

    h2 {
    font-size: 30px;
    line-height: 1.38;
}

    .btn {
    display: inline-flex;
    font-size: 15px;
    justify-content: center;
    min-width: 140px;
    padding: 16px 16px;
}

    p {
    font-size: 14px;
    line-height: 1.8;
}

    .mr-60{
        margin-right: 30px !important;
    }

}

@media screen and (max-width: 767px) {

    
    .position-helper{
        text-align: center;
    }

    .mb-50-mobile{
        margin-bottom: 50px;    
    }

    .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    }

    .owl-carousel .owl-item img {
        display: block;
        width: 15% !important;
        margin: 0 auto !important;
    }

    
}

@media screen and (max-width: 475px) {

    
    .owl-carousel .owl-item img {
        display: block;
        width: 20% !important;
        margin: 0 auto !important;
    }
    
    h6 {
    font-size: 15px;
    line-height: 1.7;
    }
    
    h1 {
    font-size: 34px;
    line-height: 1.2;
    }
}
